---
const pathname = new URL(Astro.request.url).pathname;
const currentPath = pathname.slice(1);
const theme = "light";
---

<div class="flex w-full justify-center p-8">
  <div class="flex w-full justify-between gap-5 max-w-xl">
    <div>logo</div>
    <div class="flex gap-5">
      <a href="/books" class={currentPath === "books" ? "text-blue-600 font-black" : "text-blue-600 font-semibold"}>books</a>
      <a href="/music" class={currentPath === "music" ? "text-green-600 font-black" : "text-green-600 font-semibold"}>music</a>
      <a href="/code" class={currentPath === "code" ? "text-red-600 font-black" : "text-red-600 font-semibold"}>code</a>
    </div>
    <div>{theme}</div>
  </div>
</div>

